.DS_Store
.config/homebrew
.config/tmux/plugins
.config/gh/hosts.yml
.config/cliamp/*
!.config/cliamp/config.toml
.config/opencode
.config/yazi/plugins
.config/lazygit/state.yml
.config/lazygit/github_pull_requests.json
.claude/*
!.claude/settings.json
!.claude/CLAUDE.md
!.claude/statusline-command.sh
!.claude/themes/
